body{
    margin: 0;
    padding: 0;
    font-family: verdana;
    color: #fffcd6;
}
.container{
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 32, 24);
   
}
h1{

    position: absolute;
    top: 10px; 
    z-index: 50; 
    padding: 10px 20px;
    color: rgb(219, 140, 65);
    

    
}

.buttons{
    padding-top: 80px;
    margin-left:230px;
    


}
.digit{
    font-size: 150px;
    color: #e9dd38;
}

.btn{
    width: 100px;
    padding:10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: #fffcd6;
    margin:10px;
    
    
   
}
#start{
    background-color: #d42424;
}
#stop{
    background-color: rgb(13, 191, 24);
}
#reset{
    background-color:#e9dd38;
}